export(bottomleft)
export(bottomright)
export(build.formula)
export(compare.list)
export(corner)
export(corner.data.frame)
export(corner.default)
export(corner.matrix)
export(FitKMeans)
export(left)
export(mapping)
export(MapToInterval)
export(PlotHartigan)
export(right)
export(subOut)
export(subSpecials)
export(topleft)
export(topright)
import(ggplot2)
import(plyr)
S3method(corner,data.frame)
S3method(corner,default)
S3method(corner,matrix)
S3method(corner,table)
